In [9]:
import pandas as pd

In [10]:
file_path='TrynaBDifficult.csv'
nulls=pd.read_csv(file_path)
nulls.head(30)

,City,State/Province,Country,Latitude,Longitude
0,Cook Islands​,NaN,Cook Islands​,NaN,NaN
1,Antigua and Barbuda​,NaN,Antigua and Barbuda​,NaN,NaN
2,Turks and Caicos Islands​,NaN,Turks and Caicos Islands​,NaN,NaN
3,Great Ocean Road,Victoria,Australia,NaN,NaN
4,Pembrokeshire,Wales,United Kingdom,NaN,NaN
5,Mauritius​,NaN,Mauritius​,NaN,NaN
6,Cayman Islands​,NaN,Cayman Islands​,NaN,NaN
7,Seychelles​,NaN,Seychelles​,NaN,NaN
8,Cumbria,England,United Kingdom,NaN,NaN
9,Greater Geelong & the Bellarine,Victoria,Australia,NaN,NaN
10,French Polynesia,France,France,NaN,NaN
11,Barbados​,NaN,Barbados​,NaN,NaN
12,Lake District,England,United Kingdom,NaN,NaN
13,Cornwall,England,United Kingdom,NaN,NaN
14,Jamaica​,NaN,Jamaica​,NaN,NaN
15,Hunter Valley,New South Wales,Australia,NaN,NaN
16,Pizol,Switzerland,Switzerland,NaN,NaN
17,Santorini,Greece,Greece,NaN,NaN
18,Kaua'i,Hawaii,United States,NaN,NaN
19,Fiji​,NaN,Fiji​,NaN,NaN
20,Saint Lucia​,NaN,Saint Lucia​,NaN,NaN
21,Bahamas​,NaN,Bahamas​,NaN,NaN
22,Perth and Kinross,Scotland,United Kingdom,NaN,NaN
23,Yarra Valley,Victoria,Australia,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,Hong Kong,NaN,Hong Kong,NaN,NaN
26,Yangon,NaN,Burma/Myanmar,NaN,NaN
27,Honolulu,NaN,Hawaii,NaN,NaN

In [11]:
nulls=nulls.dropna(subset=['City'])
nulls.head(30)

,City,State/Province,Country,Latitude,Longitude
0,Cook Islands​,NaN,Cook Islands​,NaN,NaN
1,Antigua and Barbuda​,NaN,Antigua and Barbuda​,NaN,NaN
2,Turks and Caicos Islands​,NaN,Turks and Caicos Islands​,NaN,NaN
3,Great Ocean Road,Victoria,Australia,NaN,NaN
4,Pembrokeshire,Wales,United Kingdom,NaN,NaN
5,Mauritius​,NaN,Mauritius​,NaN,NaN
6,Cayman Islands​,NaN,Cayman Islands​,NaN,NaN
7,Seychelles​,NaN,Seychelles​,NaN,NaN
8,Cumbria,England,United Kingdom,NaN,NaN
9,Greater Geelong & the Bellarine,Victoria,Australia,NaN,NaN
10,French Polynesia,France,France,NaN,NaN
11,Barbados​,NaN,Barbados​,NaN,NaN
12,Lake District,England,United Kingdom,NaN,NaN
13,Cornwall,England,United Kingdom,NaN,NaN
14,Jamaica​,NaN,Jamaica​,NaN,NaN
15,Hunter Valley,New South Wales,Australia,NaN,NaN
16,Pizol,Switzerland,Switzerland,NaN,NaN
17,Santorini,Greece,Greece,NaN,NaN
18,Kaua'i,Hawaii,United States,NaN,NaN
19,Fiji​,NaN,Fiji​,NaN,NaN
20,Saint Lucia​,NaN,Saint Lucia​,NaN,NaN
21,Bahamas​,NaN,Bahamas​,NaN,NaN
22,Perth and Kinross,Scotland,United Kingdom,NaN,NaN
23,Yarra Valley,Victoria,Australia,NaN,NaN
25,Hong Kong,NaN,Hong Kong,NaN,NaN
26,Yangon,NaN,Burma/Myanmar,NaN,NaN
27,Honolulu,NaN,Hawaii,NaN,NaN

In [13]:
nulls.loc[nulls['City'] == 'Honolulu', 'Country'] = 'United States'

In [14]:
import requests

In [15]:
def lat_lng(city, state, country):
    if city is None:
        return None, None
    if state is None:
        return None, None
    location=f'{city},{country}'
    response=requests.get(f"https://nominatim.openstreetmap.org/search?country={country}&format=json")
    if response.status_code==200:
        Json=response.json()
        if len(Json) > 0:
            # Extract latitude and longitude coordinates
            lat = float(Json[0]['lat'])
            lng = float(Json[0]['lon'])
            return lat, lng
        else:
            return None, None
    else:
        return None, None
nulls['Latitude'], nulls['Longitude'] = zip(*nulls.apply(lambda row: lat_lng(row['City'], row['State/Province'], row['Country']), axis=1))
nulls.head(30)

,City,State/Province,Country,Latitude,Longitude
0,Cook Islands​,NaN,Cook Islands​,-19.997,-157.786
1,Antigua and Barbuda​,NaN,Antigua and Barbuda​,17.2235,-61.9555
2,Turks and Caicos Islands​,NaN,Turks and Caicos Islands​,21.7217,-71.5528
3,Great Ocean Road,Victoria,Australia,-24.7761,134.755
4,Pembrokeshire,Wales,United Kingdom,54.7024,-3.27658
5,Mauritius​,NaN,Mauritius​,-20.2759,57.5704
6,Cayman Islands​,NaN,Cayman Islands​,19.7032,-79.9175
7,Seychelles​,NaN,Seychelles​,-4.6575,55.454
8,Cumbria,England,United Kingdom,54.7024,-3.27658
9,Greater Geelong & the Bellarine,Victoria,Australia,-24.7761,134.755
10,French Polynesia,France,France,46.6034,1.88833
11,Barbados​,NaN,Barbados​,13.15,-59.525
12,Lake District,England,United Kingdom,54.7024,-3.27658
13,Cornwall,England,United Kingdom,54.7024,-3.27658
14,Jamaica​,NaN,Jamaica​,18.1851,-77.3948
15,Hunter Valley,New South Wales,Australia,-24.7761,134.755
16,Pizol,Switzerland,Switzerland,46.7986,8.23197
17,Santorini,Greece,Greece,38.9954,21.9877
18,Kaua'i,Hawaii,United States,39.7837,-100.446
19,Fiji​,NaN,Fiji​,-18.124,179.012
20,Saint Lucia​,NaN,Saint Lucia​,13.825,-60.975
21,Bahamas​,NaN,Bahamas​,24.7737,-78.0001
22,Perth and Kinross,Scotland,United Kingdom,54.7024,-3.27658
23,Yarra Valley,Victoria,Australia,-24.7761,134.755
25,Hong Kong,NaN,Hong Kong,None,None
26,Yangon,NaN,Burma/Myanmar,None,None
27,Honolulu,NaN,United States,39.7837,-100.446

In [20]:
nulls=nulls.dropna(subset=['Latitude'])
nulls.drop_duplicates(subset=['Latitude'], inplace=True)

nulls.head(30)

,City,State/Province,Country,Latitude,Longitude
0,Cook Islands​,NaN,Cook Islands​,-19.997,-157.786
1,Antigua and Barbuda​,NaN,Antigua and Barbuda​,17.2235,-61.9555
2,Turks and Caicos Islands​,NaN,Turks and Caicos Islands​,21.7217,-71.5528
3,Great Ocean Road,Victoria,Australia,-24.7761,134.755
4,Pembrokeshire,Wales,United Kingdom,54.7024,-3.27658
5,Mauritius​,NaN,Mauritius​,-20.2759,57.5704
6,Cayman Islands​,NaN,Cayman Islands​,19.7032,-79.9175
7,Seychelles​,NaN,Seychelles​,-4.6575,55.454
10,French Polynesia,France,France,46.6034,1.88833
11,Barbados​,NaN,Barbados​,13.15,-59.525
14,Jamaica​,NaN,Jamaica​,18.1851,-77.3948
16,Pizol,Switzerland,Switzerland,46.7986,8.23197
17,Santorini,Greece,Greece,38.9954,21.9877
18,Kaua'i,Hawaii,United States,39.7837,-100.446
19,Fiji​,NaN,Fiji​,-18.124,179.012
20,Saint Lucia​,NaN,Saint Lucia​,13.825,-60.975
21,Bahamas​,NaN,Bahamas​,24.7737,-78.0001

In [22]:
nulls.to_csv('FixedNulls.csv',index=False)